/* /* body{
    /* background-color:#E5E5DF ;
}  */

select {
    padding: 0.3em 0.4em;
    display: inline-block;
    border: 1px solid #ccc;
    color: #555;
    font: inherit;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    transition: 0.3s linear box-shadow;
    box-sizing: border-box;
}